{% extends 'registration/base_3.html'%}
{% block content %}
<h2>Личный кабинет</h2>

<form method="post">
    {% csrf_token %}
    {% for f in form %}
    <p><label class="'form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="from-error">{{ f.errors }}</div>
    {% endfor %}
    <input type="submit" value="Сохранить">
    <a href="{% url 'delete_user' user.pk %}"> Удалить</a>
</form>

<!--<a href="{% url 'delete_user' user.pk %}">Удалить</a>-->
<!--<a href="{% url 'books' %}">Главная</a>-->
{% endblock %}
