{% extends 'book/base.html'%}


{% block title %}Информация о книге  - {{ book.title }}{% endblock %}


{% block content %}
     <h2>Информация о книге - {{ book.title }}</h2>
     <h3>{% if book.image %}
                  <p><img class="imd-article-left thumd" src="{{book.image.url}}"></p>{% endif %}</h3>
     <h3>Описание - {{ book.description }}</h3>
     <h3>Автор - {{ book.author }}</h3>
     <h3>Рейтинг - {{ book.rating }}</h3>
     <hr>
     <h3>Информация об авторе</h3>
     <h3>Имя - {{ book.author.firstname }}</h3>
     <h3>Фамилия - {{ book.author.lastname  }}</h3>
     <h3>Почта - {{ book.author.description}}</h3>
     <h3>Издательства:</h3>
     <ul> {% for pub_houses in  book.pub_house.all %} </ul>
              <li>{{ pub_houses }}</li>
          {% endfor %}
{% if request.user == book.creator %}
<a href="{% url 'book_edit' book.slug %}">Редактировать книгу</a>
{% endif %}

<a href="{% url 'book_delete' book.slug %}">Удалить книгу</a>

<p>Комментарии</p>
<ul>
{% for item in book.comment_book.all %}
<li>
Дата создания: {{item.created}} <br>
Автор: {{item.creator}} <br><br>
{{item.body}} <br>
</li>
{% endfor %}
</ul>
<hr>
<p>Добавить комментарии</p>
<div class="col-4">
    <form action="" id="add_form" method="post">
        {% csrf_token %}
            {{form.as_p}}
    </form>
     <button form="add_form" type="submit" class="btn.btn-primary">Добавить</button>
</div>


{% endblock %}
