{% extends 'book/base.html'%}


{% block title %}Информация о книге  - {{ book.title }}{% endblock %}


{% block content %}
     <h2>Информация о книге - {{ book.title }}</h2>
     <h3>Автор - {{ book.author }}</h3>
     <h3>Рейтинг - {{ book.rating }}</h3>
     <hr>
     <h3>Информация об авторе</h3>
     <h3>Имя - {{ book.author.firstname }}</h3>
     <h3>Фамилия - {{ book.author.lastname  }}</h3>
     <h3>Почта - {{ book.author.email }}</h3>
     <h3>Издательства:</h3>
     <ul> {% for pub_houses in  book.pub_house.all %} </ul>
              <li>{{ pub_houses }}</li>
          {% endfor %}
{% endblock %}
