{% extends 'registration/base_3.html'%}
<html>
  <head>
    <style>
     body {
      color: pink;
      text-align: center;
      }

    </style>
  </head>
  <body>

    <h1>Привет, {{ user.username|default:'Guest' }}</h1>

    <p> Добропожаловать в нашу библиотеку</p>
    <a href="{% url 'books' %}">Библиотека</a>

    <div>
      {% if user.is_authenticated %}

          <a href="{% url 'logout' %}">Выйти</a>

      {% else %}
          <a href="{% url 'signup' %}">Войти</a>
          <a href="{% url 'login' %}">Выйти</a>
      {% endif %}
  </div>

  </body>
</html>
