{% extends 'base.html' %}


{% block title %}Информация об авторе  - {{ author.name }}{% endblock %}


{% block content %}
     <h3>Информация об авторе</h3>
     <h3> {% if author.image %}
                  <p><img class="imd-article-left thumd" src="{{author.image.url}}"></p>
          {% endif %}</h3>
     <h3>Имя - {{ author.firstname }}</h3>
     <h3>Фамилия - {{ author.lastname  }}</h3>
     <h3>Почта - {{ author.description }}</h3>
     <h3>Список книг:</h3>
     <ul> {% for book in  author.book_set.all %} </ul>
              <li>{{ book }}</li>
          {% endfor %}
{% endblock %}

